.carousel-img {
    background-color: lightgrey;
}

@media (min-width: 1300px) {
    .carousel-img {
        width: 1000px;
        max-height: 1000px;
    }
}

@media (max-width: 1299px) and (min-width: 1000px) {
    .carousel-img {
        width: 800px;
        max-height: 800px;
    }
}

@media (max-width: 999px) and (min-width: 600px) {
    .carousel-img {
        width: 500px;
        max-height: 500px;
    }
}

@media (max-width: 599px) and (min-width: 400px) {
    .carousel-img {
        width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 399px) {
    .carousel-img {
        width: 250px;
        max-height: 250px;
    }
}
